/* Add CSS Styling */

p {
  background-color: #f08080;
  font-family: Verdana, "DejaVu Sans", "sans-serif";
}

#scd {
  color: rgb(0, 0, 255);
  font-size: 36px;
}

.trd {
  font-size: 24px;
}

#four {
  background-color: hsl(100 100% 90%);
  font-weight: bold;
  font-size: 24px;
}
