/* Add CSS Styling */

.one,
.two {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}

.one {
  font-weight: 500;
  background-color: black;
  color: white;
}

.two {
  font-weight: 400;
  background-color: rgb(251, 255, 0);
  color: black;
}
