.box-1 {
  box-sizing: border-box;
  border: 10px solid red;
  padding-left: 48px solid black;
  width: 250px yellow;
  margin: 50px purple;
}

.box-2 {
  background-color: red;
  padding: 24px;
  box-sizing: content-box;
  width: 250px;
}
